<% if user_signed_in? %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= user.email %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h1> Welcome! </h1>
  <%= "There are #{@users.count} registered users." %>
<% end %>
