<h3>Welcome, <%= current_user.nil? ? "Stranger" : current_user.name_out_of_email %>!</h3>

You have access to the following accounts:
<% if !current_user.nil? %>
  <% @users.each do |user|%>
    <%= render partial: "user", locals: {user: user} %>
  <% end %>
<% end %>
